body {
    max-width: 100%;
    /*background-image: url("https://source.unsplash.com/collection/825558/1920x1080");*/
    /*background-image: url("../assets/gif.gif");*/
    background-size: 100% 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
/* Container that holds the entire page */
.container {
  display: flex;
  max-width: 100% !important;
  min-height: 100%;
  text-align: center;
  vertical-align: middle;
}
/* The calendar css element */
.calendar {
  margin: auto;
  width: 80%;
  height: 70%;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  vertical-align: middle;
  display: none;
}
.calendar-header {
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

.calendar-content {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.header {
  font-size: 1.5rem;
  font-weight: 200;
  color: gray;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn {
  display: flex;
  overflow: hidden;

  /*margin: 0 auto !important;*/
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  width: 10% !important;
  height: 35% !important;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  /*flex: 0 0 160px;*/
  box-shadow: 2px 5px 10px rgba($dark, .1);
}
.btn:hover{
  transition: all 60ms ease;
  opacity: .85;
}

.btn:active {
  transition: all 60ms ease;
  opacity: .75;
}
.btn:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}
.btn.-green {
  color: #FFFFFF;
  background: #3dd28d;
}
.btn.-sun{
  color: #f15c5c;
  background: #feee7d;
}
.btn.-algae {
  color: #e7ff20;
  background: #7999a9;
}
.btn.-flower {
  color: #FE8CDF;
  background: #353866;
}

/*Dark overlay on page*/
.pageoverlay {
  background: rgba(0, 0, 0, 0.1);
}

.segment {
  display:flex;
  margin: auto;
  width: 85%;
  height: 40%; /*65 originally*/
  text-align: center;
  vertical-align: middle;
}

/* The actual time element*/
.time {
  color: #F5F5F5;
  margin: auto;
  font-size: 6.5rem;
  font-weight: 400;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: left;
  line-height: 95%;
  display: none;
  opacity: 1;
}
/* Notifications side of the chrome extension */
.notifications {
  min-height: 100%;
  width: 40%;
}
/* Content side of chrome extension containing items like calendar */
.content {
  display: flex;
  min-height: 100%;
  width: 60%;
}
/* Grids */
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.row::after {
   content: "";
   clear: both;
   display: table;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/*            --------------------------------------------            */

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    /*background: #eee;*/
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 16.4%;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color:#777;
    float: left;
}
.days li:hover {
  background: #eee;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
